

.progress {
  overflow: hidden;
  box-shadow: 0 -2px $light-gray inset;
}

.progress-status {
  border-bottom: 2px solid $bright-color; 
  text-align: right;
  padding-right: $padding-small-horizontal; 
}

.progress-score {
  font-weight: bold;
}




