.exp-place {
  font-size: $font-size-large;
  margin-left: $padding-base-horizontal;
  @include set-li-icon($fa-var-map-marker);
}

.exp-description {
  padding: $padding-small-vertical $padding-small-horizontal;
  margin: $padding-base-vertical 0;
}

.exp-description-item {
  margin-top: $padding-small-vertical;
  margin-bottom: $padding-small-vertical;
  @include set-li-icon($fa-var-wrench);
  padding-left: 0;
  list-style-type: none;
  line-height: $line-height-base;
  padding: 0;
}

