header {
	@include float-container;
	padding-bottom: $padding-base-vertical;
	background-color: $bright-color;
	color: $easy-white;
	@media only screen {
        box-shadow: 3px 5px 20px 0 darken($light-gray, 0.4);
    }
}
.header-row {
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
  @media (max-width: $screen-xs-max){
    margin-left: 0px;
  margin-right: 0px;
  }
}
.title {
	float: right;
	text-align: right;
	margin: 0;

	@media screen and (max-width: $screen-xs-max) {
		float: none;
		text-align: center;
	}
}

.title h1, .title h2 {
	margin: $padding-small-vertical 0;
	line-height: 1;
	@media print {
		color: $dark-color;
	}
}

.title h1 {
  padding: $padding-small-vertical 0;
  color: $easy-white;
}

.title h2 {
  padding: $padding-small-vertical $padding-base-vertical;
  font-weight: normal;
}

address {
  @include float-container;
}

header .address-wrapper {
	@media screen and (max-width: $screen-xs-max) {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

header .contact {
	float: left;
	margin: 0;
	padding-bottom: $padding-container-vertical;
	padding-left: $padding-large-horizontal;
	@media print, (max-width: $screen-xs-max) {
		margin-top: $padding-large-vertical;
		padding-left: $padding-xs-horizontal;
		padding-bottom: $padding-large-vertical;
		margin: $padding-large-vertical auto 0;
	}
	
}

header .contact li {
	display: block;
	list-style-type: none;
	font-style: normal;
	line-height: 1.4;
	font-size: $font-size-medium;
	word-break: break-all;
	color: $easy-white;
	@media print {
		color: $dark-color;
	}
}

header a:link, header a:visited {
	color: $easy-white;
	@media print {
		color: $dark-color;
	}
}


header a:hover, header a:active {
	color: $font-gray;
}


