.project-link-wrapper {
  line-height: $font-size-small*1.5;
  @include float-container;
  float: right;
  margin-right: $padding-large-horizontal + $padding-small-horizontal;
  @media(max-width: $screen-xs-max){
    // float: left;
    // clear: left;
    // margin:0 $padding-small-horizontal;
    font-size: $font-size-small;
    line-height: $font-size-medium*2;
  }
}

.project-demo,
.porject-source {
  margin-right: $padding-large-horizontal*2;
  @media(max-width: $screen-xs-max) {
    margin-right: $padding-base-horizontal;
  }
}

.project-description {
  padding: $padding-small-vertical $padding-small-horizontal;
  margin: $padding-base-vertical 0;

}
.project-description-item {
  @include set-li-icon($fa-var-fire);
  margin-top: $padding-small-vertical;
  margin-bottom: $padding-small-vertical;
  padding-left: 0;
}
