@mixin mediumFont{
  font-size: $font-size-medium;  
}
section {
  margin-bottom: $padding-huge-vertical;
};

.content-section-item,
.content-section {
  @media only screen {
    border-radius: $border-radius-small;
    border-top: 3px solid $bright-color;
  }
  background: $easy-white;
  margin-bottom: $padding-container-vertical;
  padding-bottom: $padding-large-vertical;
}

.content-section {
  @media only screen{
    box-shadow: 0px 5px 40px 0 $light-gray;
  }
  @media (max-width: $screen-xs-max){
    margin-bottom: $padding-large-vertical;
  }
}
.content-section,
.content-section-item {
  background-image: url($section-image-path);
  background-repeat: repeat; 
}

.content-section-item {
  // border-top: 3px solid $theme-color;
  border: 0;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  padding-top:$padding-small-vertical;
  // @media only screen {
  //   box-shadow: 0px -2px 20px rgba(155, 155, 155, 0.05),
  //             0px -2px 2px rgba(0, 0, 0, 0.1);
  // }
  @media print {
    // border: 1px solid $light-gray;
  }
  margin-bottom: $padding-small-vertical;
}


.sec-title-wrapper {
  // box-shadow: 0 -8px 10px rgba(33, 33, 33, 0.2) inset;
  @media print {
  border-bottom: 3px solid rgba(100, 100, 100, 0.2);
    
  }
  border-bottom: 2px solid rgba(100, 100, 100, 0.1);
  @include float-container;
}
.sec-item-title-wrapper {
  @include float-container;
}

.sec-content {
  padding: 0 $padding-large-horizontal;
  // margin: -$padding-large-vertical 0 0 $padding-small-horizontal;
  @include float-container;
}
.sec-item-in-item {
  padding: 0 0;
}
.sec-title,
.sec-title-item {
  float: left;
  padding: $padding-large-vertical $padding-large-horizontal;
  margin: 0 0 0 $padding-small-horizontal;
  @include float-container;
  @media(max-width: $screen-ip5-max){
    font-size: $font-size-base;
    padding: $padding-large-vertical 0;
    
  }
}



.sec-title-ch {
  float: left;
  font-weight: bold;
  @include mediumFont;
}
.sec-item-title-ch {
  font-size: $font-size-base;
  float: left;
  font-weight: bold;
}
.sec-item-title-ch {
  font-weight: 600;
}

.sec-title-en {
  font-size: $font-size-base;
  float: left;
  clear: left;
  color: $light-color;
  font-weight: bold;
  @include mediumFont;
}
.sec-item-title-en {
  font-size: $font-size-base;
  float: left;
  clear: left;
  color: $light-color;
  font-weight: bold;
}
@mixin fa-sec-icon($content){
  @include fa-icon($sec-icon-size, $sec-icon-padding, $text-color);
  content: $content;
}

.sec-item-title-en {
  font-weight: 600;
  font-size: $font-size-base;
}
// .sec-title-wrapper::before {
//   @include fa-sec-icon($fa-var-github-square)
// }
@mixin set-section-icon($section-name, $content){
  .#{$section-name} .sec-title-wrapper::before{
    content: $content;
  }
}

